body{
    background-color: #ed1515;
}
.result{
    background-color: #bfbfbf;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 20px;   
}
.exercice{
    background-color: darkseagreen;
    border: 2px solid black;
    border-radius: 10px;
    padding: 6px;
    margin: 20px;
}
.welcom{
    font-size: 50px;
    text-align: center;
}
.imgHospital{
    margin-left: 19%;
    width: 63%;
}
.addRdv{
    margin-left: 25%;
}
@media screen and (max-width: 640px){
    /*    responsive taille prestations et tarifs du tableau*/
    .imgHospital{
        margin-left: 35px;
        width: 70%;
    }
}